body {
  font-family: -apple-system,BlinkMacSystemFont,Lato,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #394b41;
  display: grid;
  grid-template-areas:
    "header sidebar"
    "body sidebar"
    "footer sidebar";
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-columns: 70vw 30vw;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
  background-color: #9cb0a4;
  display: grid;
}

.headerButton {
  grid-area: headerButton;
}
.headerImg {
  grid-area: headerImg;
}

.logo {
  display: grid;
  grid-template-areas: "logoImage logoName";
  grid-template-columns: 10vw 90vw;
}

.body {
  grid-area: body;
  background-color: #49abdc;
}

.footer {
  grid-area: footer;
  background: #9cb0a4;
}

ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  background-color: rgb(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}
li {
  width: 100%;
  text-align: center;
  width: auto;
}

#sidebarPic {
  max-height: 100vh;
  overflow: hidden;
}
