body {
  font-family: -apple-system, BlinkMacSystemFont, Lato, Roboto, Helvetica Neue,
    Arial, sans-serif;
  color: #394b41;
  display: grid;
  grid-template-areas:
    "header sidebar"
    "body sidebar"
    "footer sidebar";
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-columns: 70vw 5vw;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
  background-color: #9cb0a4;
  display: grid;
}

/* .headerButton {
  grid-area: headerButton;
}

.headerImg {
  grid-area: headerImg;
} */

.logo {
  display: grid;
  /* grid-template-areas: "logoImage logoName"; */
  grid-template-columns: 10vw 90vw;
}

.body {
  grid-area: body;
  background-color: #f4f5f4
}

.footer {
  grid-area: footer;
  background: #9cb0a4;
}

ul{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}


li {
  max-width: 100%;
  text-align: center;
}

#sidebarPic {
  min-height: 100vh;
  max-width: 30vw;
  object-fit:cover;
  overflow: hidden;
}
a:link {
  color: #000000;;
  text-decoration: none;
}

a:visited {
  color: #000000;;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* extra comment */